// 文件：Source/RanGs.rc
#include "EngineLib/Common/ProjectInfo.h"
#include <windows.h>

// 應用程式圖示 (你可以放置自己的圖示)
IDI_MAIN_ICON ICON "Resources/RanGs_Icon.ico"

// 版本資訊
VS_VERSION_INFO VERSIONINFO
FILEVERSION FILE_VERSION_NUM
PRODUCTVERSION PRODUCT_VERSION_NUM
FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
FILEFLAGS 0x0L
FILEOS VOS__WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"  // 繁體中文
        BEGIN
            VALUE "CompanyName", PROJECT_COMPANY
            VALUE "FileDescription", PROJECT_DESCRIPTION
            VALUE "FileVersion", PROJECT_VERSION
            VALUE "InternalName", PROJECT_NAME
            VALUE "LegalCopyright", PROJECT_COPYRIGHT
            VALUE "OriginalFilename", "RanGs.exe"
            VALUE "ProductName", PROJECT_NAME
            VALUE "ProductVersion", PROJECT_VERSION
            VALUE "Developer", PROJECT_DEVELOPER
            VALUE "DeveloperID", PROJECT_DEVELOPER_ID
            VALUE "BuildDate", PROJECT_BUILD_DATE
            VALUE "Comments", "RanOnline 進階系統 - 中文化GM指令與Kill Animation"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200  // 英文, Unicode
    END
END

// 字串資源
STRINGTABLE
BEGIN
    IDS_APP_TITLE           PROJECT_NAME
    IDS_DEVELOPER           PROJECT_DEVELOPER " - " PROJECT_DEVELOPER_ID
    IDS_VERSION             "版本 " PROJECT_VERSION " (" PROJECT_BUILD_DATE ")"
    IDS_COPYRIGHT           PROJECT_COPYRIGHT
END